__pycache__/
*.db
*.bat
temp_*

# Bytecode files
*.pyc
*.pyo
*.pyd

# Virtual environment folders
env/
venv/
.venv/

# Cache and logs
*.log
*.sqlite3
.DS_Store

# idea
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/