<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- Use request.url_for for static assets -->
	<link rel="icon" type="image/ico" href="{{ request.url_for('static', path='favicon.ico') }}">
    <link rel="stylesheet" href="{{ request.url_for('static', path='style.css') }}?v=1">
</head>
<body>
    <!-- Header Section -->
	<div id="pagetop" class="dvs-bar notranslate dvs-white">
		<a href="#" class="dvs-bar-item  dvs-hover-none dvs-button dvs-left" style="width: 75px;padding:2px !important;">
			<!-- <i class="dvs-logo" style="position: relative; z-index: 1; aria-hidden="true"/> -->
			<div class="dvs-logo"></div>
		</a>
		<nav>
			<a href="#" class="dvs-bar-item dvs-button" style="position: relative; z-index: 1; color: #04aa6d; font-size: 24px !important;display:inline-block;">
				About us
			</a>
		</nav>
		{% if is_logged_in %}
		<a href="{{ url_for('logout') }}" class="dvs-bar-item dvs-button dvs-right" style="position: relative; z-index: 1; color: #04aa6d; font-size: 24px !important;display:inline-block;margin-right:5px">
			Logout
		</a>
		{% endif %}
	</div>
    <!-- Main Content Section -->
	<div id="pagecenter" class="dvs-content dvs-white">
	{% if is_logged_in %}
		{% include "about.html" %}
	{% else %}
		{% include "register-login.html" %}
	{% endif %}
    
	</div>

    <!-- Footer Section -->
    
</body>
</html>
